/*

/***Reset reload -start-***/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***Reset reload -end-***/

/***Generics -start-***/
body { background: #dfdfdf; font: 62.5%/1em Helvetica, Arial, Verdana, sans-serif; line-height: 1; color: #444; text-align: center; }
 
h2 {font-size: 2.4em; line-height:1.2em; margin: -0.1em 0 10px 0; background-repeat: no-repeat; background-position: left center; font-weight:normal;}
h2.icon {padding: 5px 0 0 50px;}
h2.secure {background-image: url(/images/icon_secure.gif); background-position: 14px 4px;}
h2.go-to {background-image: url(/images/icon_go-to.gif); background-position:8px 9px;}

p, dt, dd, td {font-size:1.2em; line-height:1.4em;}
p {line-height:1.6em; margin-bottom:10px;}
a {color: #1e7eb5;}
sup {font-size:0.5em; vertical-align: super;}

.clear { height: 0; overflow: hidden; clear: both; }
.right {float:right; text-align:right;}
.tag-right {float:right; text-align:right; width:100%;}
.no-margin {margin: 0 !important;}  
.margin-right {margin-right:10px;}
.margin-bottom {margin-bottom:10px;}
.hide {display:none;}
.error {color: #c02828;}
.opacity,
.wait {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.clear-empty {clear:both; height:0;}
.font-reset { font-size: 1em !important; }
/*Generics -end-*/

/*page=login -start-*/
div#header {background: #87a1ae url(/images/bg_header.jpg) left bottom repeat-x; overflow:hidden; position:relative; padding: 0 0 5px 0; }
div#header .wrap {width:388px; padding: 0 20px; margin:0 auto;} 
div#header h1 {font-size: 3.2em; line-height:1.2em; color: #fff; margin: 40px 0; text-align:center;}  

p.home { margin: 16px 0 0; padding: 11px 0 11px 0;}
p.home a {background: url(/images/icon_home.gif) center left no-repeat; padding: 0 0 0 14px; color:#fff; text-decoration: none;}

form#uisLoginForm h2 { padding-bottom: 10px; border-bottom: 1px solid #ebebeb; margin: 0 10px; }

form#uisLoginForm p { padding: 10px 10px 0 10px; }

dl.login,
dl.password { width:100%; display: block; padding-top: 20px; }
dl.login dt,
dl.password dt { float:left; font-weight: bold; width: 110px; text-align: right; padding: 0 10px 0 0; font-size: 1.4em; line-height: 130%; }
dl.password dt { width: 150px; }
dl.login dt label,
dl.password dt label { margin-top: 9px; display: block; }
dl.login dt label.small,
dl.password dt label.smal { font-size: .875em; margin-top: 10px; }
dl.login dt.text,
dl.password dt.text { margin-top: 5px; }
dl.login dd,
dl.password dd { float:left; margin: 0 0 20px 0; width: 248px; }
dl.password dd { width: 220px; }
dl.login dd input.text,
dl.password dd input.text { border: 1px solid #e0e0e0; padding:5px; width: 220px; font-size:1.4em; font-family:Helvetica, Arial, Verdana, sans-serif; letter-spacing: 1px;}
dl.password dd input.text { width: 206px; }
dl.login dd.button,
dl.password dd.button { margin-bottom: 0;}

ul.go-to {padding:20px 10px 0 10px;}
ul.go-to li {font-size:1.4em; line-height:1em; margin-bottom:10px;}

div#box-outer { background: url(/images/bg_box-1-top.jpg) top left no-repeat; width: 428px; margin: 40px auto 0 auto; padding-top: 4px; text-align: center; }
div#box { padding-bottom: 20px; text-align: left; background-color: #fff; width: 402px; margin: 0 auto; padding-top: 10px; }
div#box-bottom { background: url(/images/bg_box-1-bottom.jpg) top no-repeat; width: 428px; height: 26px; }

form#uisLoginForm .ui-state-highlight,
form#uisLoginForm.form-error .ui-state-error { display: block; }
form#uisLoginForm .ui-state-highlight,
form#uisLoginForm .ui-state-error { margin: 20px 20px 0 20px; padding: 0 10px 0 10px; }
form#uisLoginForm .ui-state-error { display: none; }
form#uisLoginForm .ui-state-highlight p,
form#uisLoginForm .ui-state-error p { margin: 0 0 10px 0; }
form#uisLoginForm .ui-state-highlight .ui-icon,
form#uisLoginForm .ui-state-error .ui-icon { float: left; margin: 1px 6px 0 0; }

div#footer { text-align: left; width:392px; padding: 14px 0 14px 0px; margin:-18px auto 0; background: url(/images/logo_lexisnexis-footer.gif) 260px 0 no-repeat;min-height:43px;}
div#footer p {font-size:1.1em; }

.text:focus, select:focus, textarea:focus {border: 1px solid #bbb; box-shadow: #ccc 0 1px 1px; -moz-box-shadow: #ccc 0 1px 1px; -webkit-box-shadow: #ccc 0 1px 1px; -o-box-shadow: #ccc 0 1px 1px;}
/*page=login -end-*/

/**Buttonns -start-**/
body button.ui-widget { font-size: 1.2em; }
body button.ui-button .ui-button-text { line-height: .4em; color: #374f5b; }
body button.ui-state-hover .ui-button-text { color: #000; }
body button.ui-button-text-icon .ui-button-text { padding-right: .5em; padding-left: 1em; }
body button.ui-button-text-icons .ui-button-text { padding-right: 1em; padding-left: 1em; }
/**Buttonns -end-**/



